* {
    background-color:rgb(73, 29, 114);
  }

.patas img{
 /* float: left; /* Hace que las imágenes se coloquen una al lado de la otra */
  width: 375px; /* Ancho de la imagen */
  height: 85px; /* Alto de la imagen */
}

.nombreP{
  text-align:left;
  color: white;
}

.frase{
  color: white;
}

.linea {
  background-color: white; /* Color de fondo de la línea */
  height: 6px; /* Ajusta la altura deseada */
  width: 50px; /* Ajusta el ancho deseado */
  float: left;
}
.sesion{
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color:rgb(73, 29, 114);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}
.letra{
  color: white;
}
.x{
  text-align: center;
}
.perro{
  width: 130px; /* Ancho de la imagen */
  height: 130px; /* Alto de la imagen */
}